### Intellij ###
.idea/

# Gradle and Maven with auto-import
*.iml
*.ipr

# File-based project format
*.iws

# IntelliJ
out/

### Allure ###
allure-results/

### Gradle ###
.gradle/
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

### Maven ###
target/
